.Save {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
}

.Save input{
  font-size: 20px;
  border-radius: 10px;
  width: 450px;
}

.Save::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black; 
}

.BotaoSalvar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
}
.SalvarFicha {
  background-color: #0366d6;
  font-weight: bold;
  color: #fff;
  width: 100px;
  height: 50px;
  font-size: 26px;
  border-radius: 10px;
  transition: background-color 0.3s; 
}

.SalvarFicha:hover {
  background-color: #0056b3;
}

.Ficha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding-bottom: 2950px;
  }
  
  .Page1 {
    position: relative;
    width: 918px;
    height: 1188px;
    margin: auto;
  }

  .Page2{
    position: absolute;
    top: 1700px;
    width: 918px;
    height: 1188px;
    margin: auto;
  }
  .Page3{
    position: absolute;
    top: 2900px;
    width: 918px;
    height: 1188px;
    margin: auto;
  }

  .Page1 .Imagem1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
  }
  
  .Imagem1 {
    width: 918px;
    height: 1188px;
  }

  .Imagem2{
    width: 918px;
    height: 1188px;
  }

  .Imagem3{
    width: 918px;
    height: 1188px;
  }
  
  
  .NomePerso, .NomePerso1, .Class_Nivel, .Antecedente, .NomeDoJogador,
  .Raca, .Tendencia, .Experiencia, .Forca, .ForcaBonus, .Destreza, .DestrezaBonus, .Constituicao,
  .ConstituicaoBonus,.Inteligencia,.InteligenciaBonus, .Sabedoria,.SabedoriaBonus, .Carisma,
  .CarismaBonus, .Inspiracao, .Proficiencia, .radioForca, .SubForca, .radioDestreza, .SubDestreza, .radioConstituicao,
  .SubConstituicao, .radioInteligencia, .SubInteligencia, .radioSabedoria
  ,.SubSabedoria, .radioCarisma, .SubCarisma, .radioAcrobacia, .SubAcrobacia,
  .radioArcanismo, .SubArcanismo, .radioAtletismo, .SubAtletismo,
  .radioAtuacao, .SubAtuacao, .radioEnganacao, .SubEnganacao, .radioFurtividade,
  .SubFurtividade, .radioHistoria, .SubHistoria, .SubIntimidacao, .radioIntimidacao, .radioIntuicao, .SubIntuicao, .radioInvestigacao,
  .SubInvestigacao, .radioAnimais, .SubAnimais, .radioMedicina, .SubMedicina, .radioNatureza, .SubNatureza, .radioPercepcao, .SubPercepcao,
  .radioPersuasao, .SubPersuasao, .radioPrestigio, .SubPrestigio, .radioReligiao, .SubReligiao, .radioSobrevivencia, .SubSobrevivencia,
  .Armadura, .Iniciativa, .Deslocamento, .VidaMaxima, .VidaAtual, .VidaTemporaria, .DadosVidaTotal, .DadosVida, .Sucesso1, .Sucesso2,
  .Sucesso3, .Fracasso1, .Fracasso2, .Fracasso3, .NomeAtaque1, .NomeAtaque2, .NomeAtaque3,
  .DTAtaque1, .DTAtaque2, .DTAtaque3, .BonusAtaque1, .BonusAtaque2, .BonusAtaque3, .SabedoriaPassiva, .PC, .PP, .PE, .PO, .PL, .Idade,
  .Altura, .Peso, .Olhos, .Pele, .Cabelo, .Guilda
  {
    position:absolute;
    white-space: nowrap;
    border: none; 
    background: transparent; 
    outline: none;
  }

  .NomePerso {
    font-weight: bold;
    font-size: 24px; 
    top:84px;
    left:67px;
    width: 310px;
    height: 40px; 
  }

  .Class_Nivel{
    font-size: 15px;
    top: 75px;
    left: 402px;
    width: 155px;
    height: 21px;
  }

  .Antecedente{
    font-size: 15px;
    top: 75px;
    left: 574px;
    width: 145px;
    height: 21px; 
  }

  .NomeDoJogador{
    font-size: 15px;
    top: 75px;
    left: 718px;
    width: 135px;
    height: 21px;
  }

  .Raca{
    font-size: 15px;
    top: 115px;
    left: 402px;
    width: 155px;
    height: 21px;
  }

  .Tendencia{
    font-size: 15px;
    top: 115px;
    left: 572px;
    width: 145px;
    height: 21px;
  }

  .Experiencia{
    font-size: 15px;
    top: 115px;
    left: 720px;
    width: 135px;
    height: 21px;;
  }

  .Forca{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    top: 238px;
    left: 56px;
    width: 55px;
    height: 32px;
  }

  .ForcaBonus{
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    top: 277px;
    left: 65px;
    width: 35px;
    height: 25px;
  }

  .Destreza{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    top: 346px;
    left: 56px;
    width: 55px;
    height: 32px;
  }

  .DestrezaBonus{  
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    top: 385px;
    left: 65px;
    width: 35px;
    height: 25px;
  }

  .Constituicao{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    top: 454px;
    left: 56px;
    width: 55px;
    height: 32px;
  }

  .ConstituicaoBonus{  
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    top: 493px;
    left: 65px;
    width: 35px;
    height: 25px;
  }

  .Inteligencia{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    top: 562px;
    left: 56px;
    width: 55px;
    height: 32px;

  }

  .InteligenciaBonus{ 
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    top: 601px;
    left: 65px;
    width: 35px;
    height: 25px;
  }

  .Sabedoria{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    top: 670px;
    left: 56px;
    width: 55px;
    height: 32px;
  }

  .SabedoriaBonus{
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    top: 709px;
    left: 65px;
    width: 35px;
    height: 25px;
  }

  .Carisma{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    top: 778px;
    left: 56px;
    width: 55px;
    height: 32px;
  }

  .CarismaBonus{  
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    top: 817px;
    left: 65px;
    width: 35px;
    height: 25px;
  }

  .Inspiracao{ 
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    top: 198px;
    left: 142px;
    width: 33px;
    height: 24px;
  }

  .Proficiencia{
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    top: 246px;
    left: 141px;
    width: 38px;
    height: 38px;
  }

  .radioForca{
    top: 310px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubForca{ 
    text-align: center;
    font-size: 11px;
    top: 310px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioDestreza{
    top: 329px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubDestreza{  
    text-align: center;
    font-size: 11px;
    top: 331px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioConstituicao{
    top: 349px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubConstituicao{
    text-align: center;
    font-size: 11px;
    top: 350px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioInteligencia{ 
    top: 370px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubInteligencia{    
    text-align: center;
    font-size: 11px;
    top: 371px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioSabedoria{
    top: 390px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubSabedoria{   
    text-align: center;
    font-size: 11px;
    top: 392px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioCarisma{
    top: 411px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubCarisma{
    text-align: center;
    font-size: 11px;
    top: 413px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioAcrobacia{
    top: 482px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubAcrobacia{
    text-align: center;
    font-size: 11px;
    top: 483px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioArcanismo{
    top: 502px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubArcanismo{
    text-align: center;
    font-size: 11px;
    top: 503px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioAtletismo{
    top: 523px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubAtletismo{  
    text-align: center;
    font-size: 11px;
    top: 524px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioAtuacao{
    top: 543px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubAtuacao{
    text-align: center;
    font-size: 11px;
    top: 544px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioEnganacao{
    top: 563px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubEnganacao{
    text-align: center;
    font-size: 11px;
    top: 564px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioFurtividade{
    top: 583px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubFurtividade{
    text-align: center;
    font-size: 11px;
    top: 584px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioHistoria{
    top: 603px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubHistoria{
    text-align: center;
    font-size: 11px;
    top: 604px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioIntimidacao{
    top: 623px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubIntimidacao{
    text-align: center;
    font-size: 11px;
    top: 624px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioIntuicao{
    top: 643px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubIntuicao{
    text-align: center;
    font-size: 11px;
    top: 644px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioInvestigacao{
    top: 663px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubInvestigacao{
    text-align: center;
    font-size: 11px;
    top: 664px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioAnimais{
    top: 684px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubAnimais{
    text-align: center;
    font-size: 11px;
    top: 686px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioMedicina{
    top: 704px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubMedicina{
    text-align: center;
    font-size: 11px;
    top: 705px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioNatureza{
    top: 725px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubNatureza{
    text-align: center;
    font-size: 11px;
    top: 726px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioPercepcao{
    top: 745px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubPercepcao{
    text-align: center;
    font-size: 11px;
    top: 746px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioPersuasao{
    top: 765px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubPersuasao{
    text-align: center;
    font-size: 11px;
    top: 766px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioPrestigio{
    top: 785px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubPrestigio{
    text-align: center;
    font-size: 11px;
    top: 786px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioReligiao{
    top: 805px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubReligiao{
    text-align: center;
    font-size: 11px;
    top: 806px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .radioSobrevivencia{
    top: 826px;
    left: 147px;
    width: 11px;
    height: 11px;
  }

  .SubSobrevivencia{
    text-align: center;
    font-size: 11px;
    top: 827px;
    left: 167px;
    width: 20px;
    height: 10px;
  }

  .Armadura{
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    top: 236px;
    left: 353px;
    width: 30px;
    height: 20px;
  }

  .Iniciativa{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    top: 235px;
    left: 420px;
    width: 62px;
    height: 20px;
  }

  .Deslocamento{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    top: 235px;
    left: 510px;
    width: 62px;
    height: 20px;
  }

  .VidaMaxima{
    font-weight: bold;
    font-size: 14px;
    top: 297px;
    left: 435px;
    width: 140px;
    height: 16px;
  }

  .VidaAtual{
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    top: 325px;
    left: 333px;
    width: 249px;
    height: 35px;
  }

  .VidaTemporaria{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    top: 405px;
    left: 333px;
    width: 249px;
    height: 30px;
  }

  .DadosVidaTotal{
    font-weight: bold;
    font-size: 14px;
    top: 470px;
    left: 370px;
    width: 74px;
    height: 30px;
  }

  .DadosVida{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    top: 497px;
    left: 340px;
    width: 105px;
    height: 30px;
  }

  .Sucesso1{
    top: 480px;
    left: 512px;
    width: 16px;
    height: 16px; 
  }

  .Sucesso2{
    top: 480px;
    left: 531px;
    width: 16px;
    height: 16px; 
  }

  .Sucesso3{
    top: 480px;
    left: 551px;
    width: 16px;
    height: 16px; 
  }

  .Fracasso1{
    top: 502px;
    left: 512px;
    width: 16px;
    height: 16px; 
  }

  .Fracasso2{
    top: 502px;
    left: 531px;
    width: 16px;
    height: 16px; 
  }

  .Fracasso3{
    top: 502px;
    left: 551px;
    width: 16px;
    height: 16px; 
  }

  .NomeAtaque1{
    font-size: 14px;
    top: 594px;
    left: 337px;
    width: 84px;
    height: 16px;
  }

  .BonusAtaque1{
    font-size: 14px;
    top: 594px;
    left: 438px;
    width: 42px;
    height: 16px;
  }

  .DTAtaque1{
    font-size: 14px;
    top: 594px;
    left: 493px;
    width: 84px;
    height: 16px;
  }

  .NomeAtaque2{
    font-size: 14px;
    top: 625px;
    left: 337px;
    width: 84px;
    height: 16px;
  }

  .BonusAtaque2{
    font-size: 14px;
    top: 625px;
    left: 438px;
    width: 42px;
    height: 16px;
  }

  .DTAtaque2{
    font-size: 14px;
    top: 625px;
    left: 493px;
    width: 84px;
    height: 16px;
  }

  .NomeAtaque3{
    font-size: 14px;
    top: 657px;
    left: 337px;
    width: 84px;
    height: 16px;
  }

  .BonusAtaque3{
    font-size: 14px;
    top: 657px;
    left: 438px;
    width: 42px;
    height: 16px;
  }

  .DTAtaque3{
    font-size: 14px;
    top: 657px;
    left: 493px;
    width: 84px;
    height: 16px;
  }


  .Magias, .Idiomas, .Personalidade, .Ideias, .Ligacoes,
  .Defeitos, .Caracteristicas, .Equipamento, .Orgs, .TalentosAdicionais, .Tesouros, .HistoriaPersonagem{
    position: absolute;
    display: inline-block;
    overflow-y: hidden;
    resize: none; 
    white-space: pre-wrap;
    border: none;
    background-color: transparent;
    outline: none; 
    word-wrap: break-word;
    line-height: 1.15;
  }

  .Magias{
    font-size: 14px;
    top: 675px;
    left: 327px;
    width: 260px;
    height: 175px;
    max-width: 260px;
    max-height: 175px;
  }

  .SabedoriaPassiva{
    text-align: center; 
    font-weight: bold; 
    font: 20px;
    top: 885px;
    left: 45px;
    width: 35px;
    height: 28px;
  }

  .Idiomas{
    font-size: 14px;
    top: 936px;
    left: 45px;
    width: 255px;
    height: 192px;
    max-width: 255px;
    max-height: 192px;
  }

  .Personalidade{ 
    font-size: 13px;
    top: 207px;
    left: 626px;
    width: 227px;
    height: 75px;
  }

  .Ideias{
    font-size: 12px;
    top: 309px;
    left: 623px;
    width: 237px;
    height: 52px;
  }

  .Ligacoes{
    font-size: 12px;
    top: 393px;
    left: 623px;
    width: 237px;
    height: 55px;
  }

  .Defeitos{
    font-size: 12px;
    top: 476px;
    left: 623px;
    width: 237px;
    height: 55px;
  }

  .Caracteristicas{
    font-size: 14px;
    top: 572px;
    left: 619px;
    width: 240px;
    height: 566px;
  }

  .PC{
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      left: 335px;
      top: 901px;
      width: 55px;
  }

  .PP{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    left: 336px;
    top: 940px;
    width: 55px;
  }

  .PE{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    left: 336px;
    top: 980px;
    width: 55px;
  }

  .PO{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    left: 336px;
    top: 1019px;
    width: 55px;
  }

  .PL{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    left: 336px;
    top: 1058px;
    width: 55px;
  }

  .Equipamento{
    font-size: 14px;
    left: 400px;
    top: 884px;
    width: 178px;
    height: 240px;
  }

  .NomePerso1 {
    font-weight: bold;
    font-size: 24px; 
    top:92px;
    left:67px;
    width: 310px;
    height: 40px; 
  }

  .Idade{
    font-size: 15px;
    top: 83px;
    left: 400px;
    width: 155px;
    height: 21px;
  }

  .Altura{
    font-size: 15px;
    top: 83px;
    left: 565px;
    width: 145px;
    height: 21px; 
  }

  .Peso{
    font-size: 15px;
    top: 83px;
    left: 708px;
    width: 135px;
    height: 21px;
  }

  .Olhos{
    font-size: 15px;
    top: 120px;
    left: 400px;
    width: 155px;
    height: 21px;
  }

  .Pele{
    font-size: 15px;
    top: 120px;
    left: 565px;
    width: 135px;
    height: 21px;
  }

  .Cabelo{
    font-size: 15px;
    top: 120px;
    left: 708px;
    width: 135px;
    height: 21px;;
  }

  .Orgs{
    font-size: 16px;
    top: 198px;
    left: 341px;
    height: 320px;
    width: 263px;
  }

  .TalentosAdicionais{
    font-size: 16px;
    top: 565px;
    left: 341px;
    height: 310px;
    width: 520px;
  }

  .Tesouros{
    font-size: 16px;
    top: 900px;
    left: 341px;
    height: 220px;
    width: 520px;
  }

  .Guilda{
   text-align: center;
   font: 16px;
   top:240px;
   left: 630px;
   width: 210px;
  }

  .HistoriaPersonagem{
    font-size: 16px;
    top: 580px;
    left: 50px; 
    height: 560px;
    width: 247px;
  }

  .CheckNivel1_1 , .CheckNivel2_1, .CheckNivel3_1 , .CheckNivel4_1 , .CheckNivel5_1 , .CheckNivel6_1 , 
  .CheckNivel7_1 , .CheckNivel8_1 , .CheckNivel9_1 ,
  .CheckNivel1_2 , .CheckNivel2_2 , .CheckNivel3_2 , .CheckNivel4_2 , .CheckNivel5_2 , .CheckNivel6_2 , 
  .CheckNivel7_2 , .CheckNivel8_2 , .CheckNivel9_2 ,
  .CheckNivel1_3 , .CheckNivel2_3 , .CheckNivel3_3 ,  .CheckNivel4_3 ,  .CheckNivel5_3 ,  .CheckNivel6_3 , 
  .CheckNivel7_3 , .CheckNivel8_3 , .CheckNivel9_3 ,  
  .CheckNivel1_4 ,  .CheckNivel2_4 , .CheckNivel3_4 ,  .CheckNivel4_4 ,  .CheckNivel5_4 ,  .CheckNivel6_4 , 
  .CheckNivel7_4 ,  .CheckNivel8_4 , .CheckNivel9_4 ,  
  .CheckNivel1_5 ,   .CheckNivel2_5 ,  .CheckNivel3_5 ,  .CheckNivel4_5 ,  .CheckNivel5_5 ,  .CheckNivel6_5 , 
  .CheckNivel7_5 ,   .CheckNivel8_5 ,  .CheckNivel9_5 ,  
  .CheckNivel1_6 ,   .CheckNivel2_6 ,  .CheckNivel3_6 ,  .CheckNivel4_6 ,  .CheckNivel5_6 ,  .CheckNivel6_6 , 
  .CheckNivel7_6 ,   .CheckNivel8_6 ,  .CheckNivel9_6 ,  
  .CheckNivel1_7 ,   .CheckNivel2_7 ,  .CheckNivel3_7 ,  .CheckNivel4_7 ,  .CheckNivel5_7 ,  .CheckNivel6_7 , 
  .CheckNivel7_7 ,   .CheckNivel8_7 ,  .CheckNivel9_7 ,
  .CheckNivel1_8 ,   .CheckNivel2_8 ,  .CheckNivel3_8 ,  .CheckNivel4_8 ,  .CheckNivel5_8 ,  .CheckNivel6_8 , 
  .CheckNivel7_8,
  .CheckNivel1_9 ,   .CheckNivel2_9 ,  .CheckNivel3_9 ,  .CheckNivel4_9 ,  .CheckNivel5_9 ,  .CheckNivel6_9 , 
  .CheckNivel7_9,
  .CheckNivel1_10 ,   .CheckNivel2_10 ,  .CheckNivel3_10 ,  .CheckNivel4_10 ,
  .CheckNivel1_11 ,   .CheckNivel2_11 ,  .CheckNivel3_11 ,  .CheckNivel4_11 ,
  .CheckNivel1_12 ,   .CheckNivel2_12 ,  .CheckNivel3_12 ,  .CheckNivel4_12 ,
  .CheckNivel1_13 ,   .CheckNivel2_13 ,  .CheckNivel3_13 ,  .CheckNivel4_13 {
    font-size: 14px;
    position: absolute;
    display: inline-block;
    overflow-y: hidden;
    resize: none; 
    white-space: pre-wrap;
    border: none;
    background-color: transparent;
    outline: none; 
    word-wrap: break-word;
    line-height: 1.15;
  }

  .ClasseConjurador,.HabilidadeChave,.CD, .ModificadorAtaque,
  .Truque1, .Truque2, .Truque3, .Truque4, .Truque5, .Truque6, .Truque7, .Truque8,
  .SlotNivel1_1, .SlotNivel2_1, .SlotNivel3_1, .SlotNivel4_1, .SlotNivel5_1, .SlotNivel6_1,
  .SlotNivel7_1, .SlotNivel8_1, .SlotNivel9_1, .SlotNivel1_2, .SlotNivel2_2, .SlotNivel3_2,
  .SlotNivel4_2, .SlotNivel5_2, .SlotNivel6_2, .SlotNivel7_2, .SlotNivel8_2, .SlotNivel9_2,
  .SlotNivel1_3, .SlotNivel2_3, .SlotNivel3_3, .SlotNivel4_3, .SlotNivel5_3, .SlotNivel6_3,
  .SlotNivel7_3, .SlotNivel8_3, .SlotNivel9_3, .SlotNivel1_4, .SlotNivel2_4, .SlotNivel3_4,
  .SlotNivel4_4, .SlotNivel5_4, .SlotNivel6_4, .SlotNivel7_4, .SlotNivel8_4, .SlotNivel9_4,
  .SlotNivel1_5, .SlotNivel2_5, .SlotNivel3_5, .SlotNivel4_5, .SlotNivel5_5, .SlotNivel6_5, 
  .SlotNivel7_5, .SlotNivel8_5, .SlotNivel9_5, .SlotNivel1_6, .SlotNivel2_6, .SlotNivel3_6,
  .SlotNivel4_6, .SlotNivel5_6, .SlotNivel6_6, .SlotNivel7_6, .SlotNivel8_6, .SlotNivel9_6, 
  .SlotNivel1_7, .SlotNivel2_7, .SlotNivel3_7, .SlotNivel4_7, .SlotNivel5_7, .SlotNivel6_7, 
  .SlotNivel7_7, .SlotNivel8_7, .SlotNivel9_7, .SlotNivel1_8, .SlotNivel2_8, .SlotNivel3_8,
  .SlotNivel4_8, .SlotNivel5_8, .SlotNivel6_8, .SlotNivel7_8, .SlotNivel1_9, .SlotNivel2_9, 
  .SlotNivel3_9, .SlotNivel4_9, .SlotNivel5_9, .SlotNivel6_9, .SlotNivel7_9, .SlotNivel1_10, 
  .SlotNivel2_10, .SlotNivel3_10, .SlotNivel4_10, .SlotNivel1_11, .SlotNivel2_11, .SlotNivel3_11, 
  .SlotNivel4_11, .SlotNivel1_12, .SlotNivel2_12, .SlotNivel3_12, .SlotNivel4_12, .SlotNivel1_13, 
  .SlotNivel2_13, .SlotNivel3_13, .SlotNivel4_13{
    width: 245px;
    font-size: 14px;
    position:absolute;
    white-space: nowrap;
    border: none; 
    background: transparent; 
    outline: none;
  }

  .ClasseConjurador{
    width: 290px;
    font-size: 24px;
    font-weight: bold;
    top: 100px;
    left: 70px;

  }

  .HabilidadeChave{
    width: 95px;
    font-size: 22px;
    text-align: center;
    left: 425px;
    top: 90px;
  }

  .CD{
    width: 95px;
    font-size: 22px;
    text-align: center;
    left: 574px;
    top: 90px;
  }

  .ModificadorAtaque{
    width: 95px;
    font-size: 22px;
    text-align: center;
    left: 728px;
    top: 90px;
  }

  .Truque1, .Truque2, .Truque3, .Truque4, .Truque5, .Truque6, .Truque7, .Truque8{
    left: 50px;
  }

  .CheckNivel1_1,.CheckNivel1_2,.CheckNivel1_3,.CheckNivel1_4,.CheckNivel1_5,.CheckNivel1_6,.CheckNivel1_7,.CheckNivel1_8,.CheckNivel1_9,
  .CheckNivel1_10,.CheckNivel1_11,.CheckNivel1_12,.CheckNivel1_13,
  .CheckNivel2_1,.CheckNivel2_2,.CheckNivel2_3,.CheckNivel2_4,.CheckNivel2_5,.CheckNivel2_6,.CheckNivel2_7,.CheckNivel2_8,.CheckNivel2_9,
  .CheckNivel2_10,.CheckNivel2_11,.CheckNivel2_12,.CheckNivel2_13{
    left: 42px;
  }

  .SlotNivel1_1,.SlotNivel1_2,.SlotNivel1_3,.SlotNivel1_4,.SlotNivel1_5,.SlotNivel1_6,.SlotNivel1_7,.SlotNivel1_8,.SlotNivel1_9,
  .SlotNivel1_10,.SlotNivel1_11,.SlotNivel1_12,.SlotNivel1_13,
  .SlotNivel2_1,.SlotNivel2_2,.SlotNivel2_3,.SlotNivel2_4,.SlotNivel2_5,.SlotNivel2_6,.SlotNivel2_7,.SlotNivel2_8,.SlotNivel2_9,
  .SlotNivel2_10,.SlotNivel2_11,.SlotNivel2_12,.SlotNivel2_13{
    left: 62px;
  }

  .Truque1{
    top: 260px;
  }
  .Truque2{
    top: 281px;
  }
  .Truque3{
    top: 302px;
  }
  .Truque4{
    top: 323px;
  }
  .Truque5{
    top: 344px;
  }
  .Truque6{
    top: 365px;
  }
  .Truque7{
    top: 386px;
  }
  .Truque8{
    top: 407px;
  }

  .SlotNivel1_1, .CheckNivel1_1{
    top: 519px;
  }
  .SlotNivel1_2, .CheckNivel1_2{
    top: 540px;
  }
  .SlotNivel1_3,  .CheckNivel1_3{
    top: 561px;
  }
  .SlotNivel1_4, .CheckNivel1_4{
    top: 582px;
  }
  .SlotNivel1_5, .CheckNivel1_5{
    top: 603px;
  }
  .SlotNivel1_6, .CheckNivel1_6{
    top: 624px;
  }
  .SlotNivel1_7, .CheckNivel1_7{
    top: 645px;
  }
  .SlotNivel1_8, .CheckNivel1_8{
    top: 666px;
  }
  .SlotNivel1_9, .CheckNivel1_9{
    top: 687px;
  }
  .SlotNivel1_10, .CheckNivel1_10{
    top: 708px;
  }
  .SlotNivel1_11, .CheckNivel1_11{
    top: 729px;
  }
  .SlotNivel1_12, .CheckNivel1_12{
    top: 750px;
  }
  .SlotNivel1_13, .CheckNivel1_13{
    top: 771px;
  }

  .SlotNivel2_1, .CheckNivel2_1{
    top: 859px;
  }
  .SlotNivel2_2, .CheckNivel2_2{
    top: 880px;
  }
  .SlotNivel2_3, .CheckNivel2_3{
    top: 901px;
  }
  .SlotNivel2_4, .CheckNivel2_4{
    top: 922px;
  }
  .SlotNivel2_5, .CheckNivel2_5{
    top: 943px;
  }
  .SlotNivel2_6, .CheckNivel2_6{
    top: 964px;
  }
  .SlotNivel2_7, .CheckNivel2_7{
    top: 985px;
  }
  .SlotNivel2_8, .CheckNivel2_8{
    top: 1006px;
  }
  .SlotNivel2_9, .CheckNivel2_9{
    top: 1027px;
  }
  .SlotNivel2_10, .CheckNivel2_10{
    top: 1048px;
  }
  .SlotNivel2_11, .CheckNivel2_11{
    top: 1069px;
  }
  .SlotNivel2_12, .CheckNivel2_12{
    top: 1090px;
  }
  .SlotNivel2_13, .CheckNivel2_13{
    top: 1111px;
  }


  .CheckNivel3_1,.CheckNivel3_2,.CheckNivel3_3,.CheckNivel3_4,.CheckNivel3_5,.CheckNivel3_6,.CheckNivel3_7,.CheckNivel3_8,.CheckNivel3_9,
  .CheckNivel3_10,.CheckNivel3_11,.CheckNivel3_12,.CheckNivel3_13,
  .CheckNivel4_1,.CheckNivel4_2,.CheckNivel4_3,.CheckNivel4_4,.CheckNivel4_5,.CheckNivel4_6,.CheckNivel4_7,.CheckNivel4_8,.CheckNivel4_9,
  .CheckNivel4_10,.CheckNivel4_11,.CheckNivel4_12,.CheckNivel4_13,
  .CheckNivel5_1,.CheckNivel5_2,.CheckNivel5_3,.CheckNivel5_4,.CheckNivel5_5,.CheckNivel5_6,.CheckNivel5_7,.CheckNivel5_8,.CheckNivel5_9{
    left: 325px;
  }

  .SlotNivel3_1,.SlotNivel3_2,.SlotNivel3_3,.SlotNivel3_4,.SlotNivel3_5,.SlotNivel3_6,.SlotNivel3_7,.SlotNivel3_8,.SlotNivel3_9,
  .SlotNivel3_10,.SlotNivel3_11,.SlotNivel3_12,.SlotNivel3_13,
  .SlotNivel4_1,.SlotNivel4_2,.SlotNivel4_3,.SlotNivel4_4,.SlotNivel4_5,.SlotNivel4_6,.SlotNivel4_7,.SlotNivel4_8,.SlotNivel4_9,
  .SlotNivel4_10,.SlotNivel4_11,.SlotNivel4_12,.SlotNivel4_13,
  .SlotNivel5_1,.SlotNivel5_2,.SlotNivel5_3,.SlotNivel5_4,.SlotNivel5_5,.SlotNivel5_6,.SlotNivel5_7,.SlotNivel5_8,.SlotNivel5_9{
    left: 345px;
  }

  .SlotNivel3_1, .CheckNivel3_1, .SlotNivel6_1, .CheckNivel6_1{
    top: 265px;
  }
  .SlotNivel3_2, .CheckNivel3_2,.SlotNivel6_2, .CheckNivel6_2{
    top: 286px;
  }
  .SlotNivel3_3, .CheckNivel3_3, .SlotNivel6_3, .CheckNivel6_3{
    top: 307px;
  }
  .SlotNivel3_4, .CheckNivel3_4, .SlotNivel6_4, .CheckNivel6_4{
    top: 328px;
  }
  .SlotNivel3_5, .CheckNivel3_5, .SlotNivel6_5, .CheckNivel6_5{
    top: 349px;
  }
  .SlotNivel3_6, .CheckNivel3_6, .SlotNivel6_6, .CheckNivel6_6{
    top: 370px;
  }
  .SlotNivel3_7, .CheckNivel3_7, .SlotNivel6_7, .CheckNivel6_7{
    top: 391px;
  }
  .SlotNivel3_8, .CheckNivel3_8, .SlotNivel6_8, .CheckNivel6_8{
    top: 412px;
  }
  .SlotNivel3_9, .CheckNivel3_9, .SlotNivel6_9, .CheckNivel6_9{
    top: 433px;
  }
  .SlotNivel3_10, .CheckNivel3_10{
    top: 454px;
  }
  .SlotNivel3_11, .CheckNivel3_11{
    top: 475px;
  }
  .SlotNivel3_12, .CheckNivel3_12{
    top: 496px;
  }
  .SlotNivel3_13, .CheckNivel3_13{
    top: 517px;
  }

  .SlotNivel4_1, .CheckNivel4_1, .SlotNivel7_5, .CheckNivel7_5{
    top: 603px;
  }
  .SlotNivel4_2, .CheckNivel4_2, .SlotNivel7_6, .CheckNivel7_6{
    top: 624px;
  }
  .SlotNivel4_3, .CheckNivel4_3, .SlotNivel7_7, .CheckNivel7_7{
    top: 645px;
  }
  .SlotNivel4_4, .CheckNivel4_4, .SlotNivel7_8, .CheckNivel7_8{
    top: 666px;
  }
  .SlotNivel4_5, .CheckNivel4_5, .SlotNivel7_9, .CheckNivel7_9{
    top: 687px;
  }
  .SlotNivel4_6, .CheckNivel4_6{
    top: 708px;
  }
  .SlotNivel4_7, .CheckNivel4_7{
    top: 729px;
  }
  .SlotNivel4_8, .CheckNivel4_8{
    top: 750px;
  }
  .SlotNivel4_9, .CheckNivel4_9{
    top: 771px;
  }
  .SlotNivel4_10, .CheckNivel4_10{
    top: 792px;
  }
  .SlotNivel4_11, .CheckNivel4_11{
    top: 813px;
  }
  .SlotNivel4_12, .CheckNivel4_12{
    top: 834px;
  }
  .SlotNivel4_13, .CheckNivel4_13{
    top: 855px;
  }

  .SlotNivel5_1, .CheckNivel5_1{
    top: 943px;
  }
  .SlotNivel5_2, .CheckNivel5_2{
    top: 964px;
  }
  .SlotNivel5_3, .CheckNivel5_3, .SlotNivel9_1, .CheckNivel9_1{
    top: 985px;
  }
  .SlotNivel5_4, .CheckNivel5_4, .SlotNivel9_2, .CheckNivel9_2{
    top: 1006px;
  }
  .SlotNivel5_5, .CheckNivel5_5, .SlotNivel9_3, .CheckNivel9_3{
    top: 1027px;
  }
  .SlotNivel5_6, .CheckNivel5_6, .SlotNivel9_4, .CheckNivel9_4{
    top: 1048px;
  }
  .SlotNivel5_7, .CheckNivel5_7, .SlotNivel9_5, .CheckNivel9_5{
    top: 1069px;
  }
  .SlotNivel5_8, .CheckNivel5_8, .SlotNivel9_6, .CheckNivel9_6{
    top: 1090px;
  }
  .SlotNivel5_9, .CheckNivel5_9, .SlotNivel9_7, .CheckNivel9_7{
    top: 1111px;
  }

  .CheckNivel6_1,.CheckNivel6_2,.CheckNivel6_3,.CheckNivel6_4,.CheckNivel6_5,.CheckNivel6_6,.CheckNivel6_7,.CheckNivel6_8,.CheckNivel6_9,
  .CheckNivel7_1,.CheckNivel7_2,.CheckNivel7_3,.CheckNivel7_4,.CheckNivel7_5,.CheckNivel7_6,.CheckNivel7_7,.CheckNivel7_8,.CheckNivel7_9,
  .CheckNivel8_1,.CheckNivel8_2,.CheckNivel8_3,.CheckNivel8_4,.CheckNivel8_5,.CheckNivel8_6,.CheckNivel8_7,
  .CheckNivel9_1,.CheckNivel9_2,.CheckNivel9_3,.CheckNivel9_4,.CheckNivel9_5,.CheckNivel9_6,.CheckNivel9_7{
    left: 606px ;
  }

  .SlotNivel6_1,.SlotNivel6_2,.SlotNivel6_3,.SlotNivel6_4,.SlotNivel6_5,.SlotNivel6_6,.SlotNivel6_7,.SlotNivel6_8,.SlotNivel6_9,
  .SlotNivel7_1,.SlotNivel7_2,.SlotNivel7_3,.SlotNivel7_4,.SlotNivel7_5,.SlotNivel7_6,.SlotNivel7_7,.SlotNivel7_8,.SlotNivel7_9,
  .SlotNivel8_1,.SlotNivel8_2,.SlotNivel8_3,.SlotNivel8_4,.SlotNivel8_5,.SlotNivel8_6,.SlotNivel8_7,
  .SlotNivel9_1,.SlotNivel9_2,.SlotNivel9_3,.SlotNivel9_4,.SlotNivel9_5,.SlotNivel9_6,.SlotNivel9_7{
    left: 626px;
  }

.SlotNivel7_1, .CheckNivel7_1{
top: 519px;
}
.SlotNivel7_2, .CheckNivel7_2{
top:540px
}
.SlotNivel7_3, .CheckNivel7_3{
top: 561px;
}
.SlotNivel7_4, .CheckNivel7_4{
top: 582px;
}

.SlotNivel8_1, .CheckNivel8_1{
  top: 774px;
}
.SlotNivel8_2, .CheckNivel8_2{
  top:795px
}
.SlotNivel8_3, .CheckNivel8_3{
  top: 816px;
  }
.SlotNivel8_4, .CheckNivel8_4{
  top: 837px;
}
.SlotNivel8_5, .CheckNivel8_5{
  top: 858px;
}
.SlotNivel8_6, .CheckNivel8_6{
  top: 879px;
}
.SlotNivel8_7, .CheckNivel8_7{
  top: 900px;
}

.EspacoTotal1,.EspacoTotal2,.EspacoTotal3,.EspacoTotal4,.EspacoTotal5,.EspacoTotal6,
.EspacoTotal7,.EspacoTotal8,.EspacoTotal9,.EspacoUtilizado1,.EspacoUtilizado2,.EspacoUtilizado3,
.EspacoUtilizado4,.EspacoUtilizado5,.EspacoUtilizado6,.EspacoUtilizado7,.EspacoUtilizado8,
.EspacoUtilizado9{
  font-size: 20px;
  width: 54px;
  font-weight: bold;
  text-align: center;
  position:absolute;
  white-space: nowrap;
  border: none; 
  background: transparent; 
  outline: none;  
}

.EspacoTotal1{
  top: 475px;
  left: 77px;
}
.EspacoUtilizado1{
  top: 475px;
  left: 150px;
  width: 150px;
}

.EspacoTotal2{
  top: 816px;
  left: 77px;
}
.EspacoUtilizado2{
  top: 816px;
  left: 150px;
  width: 150px;
}

.EspacoTotal3{
  top: 222px;
  left: 358px;
}
.EspacoUtilizado3{
  top: 222px;
  left: 435px;
  width: 150px;
}

.EspacoTotal4{
  top: 560px;
  left: 359px;
}
.EspacoUtilizado4{
  top: 560px;
  left: 435px;
  width: 150px;
}

.EspacoTotal5{
  top: 900px;
  left: 359px;
}
.EspacoUtilizado5{
  top: 900px;
  left: 435px;
  width: 150px;
}

.EspacoTotal6{
  top: 222px;
  left: 640px;
}
.EspacoUtilizado6{
  top: 222px;
  left: 715px;
  width: 150px;
}

.EspacoTotal7{
  top: 475px;
  left: 640px;
}
.EspacoUtilizado7{
  top: 475px;
  left: 715px;
  width: 150px;
}

.EspacoTotal8{
  top: 733px;
  left: 640px;
}
.EspacoUtilizado8{
  top: 733px;
  left: 715px;
  width: 150px;
}

.EspacoTotal9{
  top: 944px;
  left: 640px;
}
.EspacoUtilizado9{
  top: 944px;
  left: 715px;
  width: 150px;
}
