.login {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-login {
    margin-top: -140px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc; 
}

.container-register {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc; 
}

.container-register h3 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}


.form-group-login {
    margin-bottom: 15px;
}

.form-group-login label {
    display: block;
    margin-bottom: 5px;
}

.form-group-login input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 113%;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 20px;
    font-size: 12px;
    text-align: center; 
}

.links p {
    margin-top: 10px;
    margin: 5px 0;
}

.links .link {
    text-decoration: none;
    color: #007bff;
}

.links .link:hover {
    text-decoration: underline;
}
